In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.optimize as scp
import os
import glob

In [3]:
df = pd.read_csv('virtualInternshipData_ADS2001_utf8.csv')
df = df.drop('Unnamed: 0', axis = 1)
df

,userIDs,implementation,Line_ID,ChatGroup,content,group_id,RoleName,roomName,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore,wordCount
0,1,a,1,PRNLT,Hello team. Welcome to Nephrotex!,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,5
1,1,a,2,PRNLT,I'm Maria Williams. I'll be your design adviso...,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,11
2,1,a,3,PRNLT,I'm here to help if you have any questions.,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,9
3,1,a,4,PRNLT,Please introduce yourselves with the name you ...,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,1,0,0,4,51
4,1,a,5,PRNLT,I just want to make sure everyone has found th...,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19175,392,o,19179,PESPVP,yes,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,5,1
19176,388,o,19180,PESPVP,sounds good,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,8,2
19177,367,o,19181,PESPVP,"Well, we are out of time for our meeting.",6,Mentor,Reflection team discussion of first batch results,0,0,0,0,0,0,4,9
19178,393,o,19182,PESPVP,Precisely,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,4,1
19179,367,o,19183,PESPVP,Good discussion today! Don't forget to complet...,6,Mentor,Reflection team discussion of first batch results,0,0,0,0,0,0,4,11

In [4]:
df['userIDs'] = df['userIDs'].astype(str)
df['Line_ID'] = df['Line_ID'].astype(str)
df['unique_id'] = df[('userIDs')] + df['implementation'] + df['ChatGroup']
df = df[['unique_id', 'userIDs', 'implementation', 'Line_ID', 'ChatGroup', 'content', 'group_id', 'RoleName', 'roomName', 'm_experimental_testing', 'm_making_design_choices', 'm_asking_questions', 'j_customer_consultants_requests', 'j_performance_parameters_requirements', 'j_communication', 'OutcomeScore', 'wordCount']]

In [5]:
df

,unique_id,userIDs,implementation,Line_ID,ChatGroup,content,group_id,RoleName,roomName,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore,wordCount
0,1aPRNLT,1,a,1,PRNLT,Hello team. Welcome to Nephrotex!,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,5
1,1aPRNLT,1,a,2,PRNLT,I'm Maria Williams. I'll be your design adviso...,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,11
2,1aPRNLT,1,a,3,PRNLT,I'm here to help if you have any questions.,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,9
3,1aPRNLT,1,a,4,PRNLT,Please introduce yourselves with the name you ...,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,1,0,0,4,51
4,1aPRNLT,1,a,5,PRNLT,I just want to make sure everyone has found th...,2,Mentor,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19175,392oPESPVP,392,o,19179,PESPVP,yes,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,5,1
19176,388oPESPVP,388,o,19180,PESPVP,sounds good,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,8,2
19177,367oPESPVP,367,o,19181,PESPVP,"Well, we are out of time for our meeting.",6,Mentor,Reflection team discussion of first batch results,0,0,0,0,0,0,4,9
19178,393oPESPVP,393,o,19182,PESPVP,Precisely,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,4,1
19179,367oPESPVP,367,o,19183,PESPVP,Good discussion today! Don't forget to complet...,6,Mentor,Reflection team discussion of first batch results,0,0,0,0,0,0,4,11

### Checking for missing values

In [6]:
df.isna().sum() # check for missing values

unique_id                                0
userIDs                                  0
implementation                           0
Line_ID                                  0
ChatGroup                                0
content                                  0
group_id                                 0
RoleName                                 3
roomName                                 0
m_experimental_testing                   0
m_making_design_choices                  0
m_asking_questions                       0
j_customer_consultants_requests          0
j_performance_parameters_requirements    0
j_communication                          0
OutcomeScore                             0
wordCount                                0
dtype: int64

In [7]:
df = df.dropna() # dropping rows with missing values as it only makes up for 3/19180 rows

In [8]:
df.isna().sum()

unique_id                                0
userIDs                                  0
implementation                           0
Line_ID                                  0
ChatGroup                                0
content                                  0
group_id                                 0
RoleName                                 0
roomName                                 0
m_experimental_testing                   0
m_making_design_choices                  0
m_asking_questions                       0
j_customer_consultants_requests          0
j_performance_parameters_requirements    0
j_communication                          0
OutcomeScore                             0
wordCount                                0
dtype: int64

# Data analysis

In [9]:
# data frame for each chat topic
# includes messages which have a combination of topics
# explore relationship between number of messages per topic to score
experimental_testing = df[df['m_experimental_testing'] == 1]
design_choices = df[df['m_making_design_choices'] == 1]  
asking_questions = df[df['m_asking_questions'] == 1]
customer_consultant_requests = df[df['j_customer_consultants_requests'] == 1]
performance_parameters_requirements = df[df['j_performance_parameters_requirements'] == 1]

### Number of groups

In [10]:
df['group_id'].unique()

array([2, 3, 4, 5, 6], dtype=int64)

### Number of participants

In [11]:
len(df['userIDs'].unique())

392

### Number of mentors

In [12]:
mentors_only = df[df['RoleName'] == 'Mentor']
print(f"There are {len(mentors_only['userIDs'].unique())} mentors")
mentors_only['userIDs'].unique()

There are 23 mentors

array(['1', '22', '37', '52', '63', '90', '107', '117', '134', '144',
       '150', '173', '201', '227', '254', '278', '301', '328', '333',
       '338', '343', '349', '367'], dtype=object)

### Creating student only dataframe

In [13]:
students_only = df[df['RoleName'] == 'Player']

In [14]:
students_only

,unique_id,userIDs,implementation,Line_ID,ChatGroup,content,group_id,RoleName,roomName,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore,wordCount
5,2aPRNLT,2,a,6,PRNLT,Hello I am Brandon!,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,4
6,3aPRNLT,3,a,7,PRNLT,I am Zelin,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,3
7,3aPRNLT,3,a,8,PRNLT,Hi,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,1
8,4aPRNLT,4,a,9,PRNLT,i am jack,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,3
9,5aPRNLT,5,a,10,PRNLT,Hey! I'm Rachel!,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19173,391oPESPVP,391,o,19177,PESPVP,exactly!,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,5,1
19174,389oPESPVP,389,o,19178,PESPVP,sounds good,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,7,2
19175,392oPESPVP,392,o,19179,PESPVP,yes,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,5,1
19176,388oPESPVP,388,o,19180,PESPVP,sounds good,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,8,2
19178,393oPESPVP,393,o,19182,PESPVP,Precisely,6,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,4,1

### Create data frame for each group

In [15]:
group_2 = students_only[students_only['group_id'] == 2]
group_3 = students_only[students_only['group_id'] == 3]
group_4 = students_only[students_only['group_id'] == 4]
group_5 = students_only[students_only['group_id'] == 5]
group_6 = students_only[students_only['group_id'] == 6]

In [16]:
print(f"There are {len(group_2['userIDs'].unique())} students in group 2")
print(f"There are {len(group_3['userIDs'].unique())} students in group 3")
print(f"There are {len(group_4['userIDs'].unique())} students in group 4")
print(f"There are {len(group_5['userIDs'].unique())} students in group 5")
print(f"There are {len(group_6['userIDs'].unique())} students in group 6")

There are 78 students in group 2
There are 73 students in group 3
There are 75 students in group 4
There are 72 students in group 5
There are 71 students in group 6

### Different implementations of each group

#### Group 2

In [17]:
group_2['implementation'].unique()

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
       'n', 'o'], dtype=object)

In [18]:
g2a = group_2[group_2['implementation'] == 'c']
g2a

,unique_id,userIDs,implementation,Line_ID,ChatGroup,content,group_id,RoleName,roomName,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore,wordCount
2712,64cPRNLT,64,c,2714,PRNLT,"Hi everyone, my name is Derek.",2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,5,6
2713,65cPRNLT,65,c,2715,PRNLT,Hey Derek!,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,2
2714,66cPRNLT,66,c,2716,PRNLT,"Hey guys, i usually go by connor (middle name)",2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,9
2715,65cPRNLT,65,c,2717,PRNLT,What should we do if the workflow PDF won't load?,2,Player,Introduction and Workflow Tutorial with Entran...,0,1,1,0,0,0,4,10
2716,67cPRNLT,67,c,2718,PRNLT,"Hello, my name is Cody.",2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,64cPRNLT,64,c,3202,PRNLT,Thank you everyone. Good luck with your new te...,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,5,9
3201,65cPRNLT,65,c,3203,PRNLT,I'm glad I got to work with all of you as well...,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,4,24
3202,65cPRNLT,65,c,3204,PRNLT,Good luck with the next team,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,4,6
3203,67cPRNLT,67,c,3205,PRNLT,Thanks team. It was a pleasure working with al...,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,2,34
3204,67cPRNLT,67,c,3206,PRNLT,Okay. That is fine I was only wondering since ...,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,2,16

### Average score of each group

In [19]:
average_scores = pd.DataFrame()
average_scores['group'] = students_only['group_id'].unique()

outcome_scores = students_only.groupby('group_id')['OutcomeScore'].mean().reset_index()

average_scores = average_scores.merge(outcome_scores, how='left', left_on='group', right_on='group_id')

In [20]:
average_scores = average_scores.drop(columns = ['group_id'])
average_scores

   group  OutcomeScore
0      2      3.410944
1      3      3.672073
2      4      3.781714
3      5      4.087102
4      6      3.636873

### Table of scores of students

In [21]:
student_scores = pd.DataFrame()
student_scores['student'] = students_only['userIDs'].unique()

outcome_scores = students_only.groupby('userIDs')['OutcomeScore'].mean().reset_index()

student_scores = student_scores.merge(outcome_scores, how = 'left', left_on = 'student', right_on = 'userIDs')
student_scores

    student userIDs  OutcomeScore
0         2       2           4.0
1         3       3           4.0
2         4       4           4.0
3         5       5           2.0
4         6       6           2.0
..      ...     ...           ...
364     389     389           7.0
365     390     390           4.0
366     391     391           5.0
367     392     392           5.0
368     393     393           4.0

[369 rows x 3 columns]

# Current Data frames we have
1. students_only - data frame with only student data
2. mentors_only - data frame with only mentor data
3. experimental_testing 
4. design_choices 
5. asking_questions
6. customer_consultant_requests 
7. performance_parameters_requirements

# Creating GROUP LEVEL DATA (USE THIS FOR ANALYSIS)

In [22]:
group_level_data = students_only.groupby('group_id').agg(
mean_outcome_score = ('OutcomeScore', 'mean'),
total_experimental_testing = ("m_experimental_testing", 'sum'),
total_making_design_choices = ("m_making_design_choices", 'sum'),
total_asking_questions = ("m_asking_questions", 'sum'),
total_customer_consultants_requests = ("j_customer_consultants_requests", 'sum'),
total_performance_parameters_requirements = ("j_performance_parameters_requirements", 'sum'))

In [23]:
group_level_data

,mean_outcome_score,total_experimental_testing,total_making_design_choices,total_asking_questions,total_customer_consultants_requests,total_performance_parameters_requirements
group_id,,,,,,
2,3.410944,102,349,617,63,202
3,3.672073,61,333,601,86,173
4,3.781714,154,357,644,56,187
5,4.087102,111,356,519,54,160
6,3.636873,91,314,535,44,179

# Creating STUDENT LEVEL DATA (USE THIS FOR ANALYSIS)

In [24]:
student_level_data = students_only.groupby('userIDs').agg(
mean_outcome_score = ('OutcomeScore', 'mean'),
total_experimental_testing = ("m_experimental_testing", 'sum'),
total_making_design_choices = ("m_making_design_choices", 'sum'),
total_asking_questions = ("m_asking_questions", 'sum'),
total_customer_consultants_requests = ("j_customer_consultants_requests", 'sum'),
total_performance_parameters_requirements = ("j_performance_parameters_requirements", 'sum'))
student_level_data.index = student_level_data.index.astype(int)
student_level_data = student_level_data.sort_index()

In [25]:
student_level_data.index = student_level_data.index.astype(int)
student_level_data = student_level_data.sort_index()
student_level_data

,mean_outcome_score,total_experimental_testing,total_making_design_choices,total_asking_questions,total_customer_consultants_requests,total_performance_parameters_requirements
userIDs,,,,,,
2,4.0,2,4,17,0,4
3,4.0,1,4,3,0,1
4,4.0,2,2,3,1,5
5,2.0,0,0,6,0,2
6,2.0,0,2,7,1,3
...,...,...,...,...,...,...
389,7.0,2,8,4,1,7
390,4.0,0,5,6,1,2
391,5.0,2,3,11,1,4
392,5.0,2,4,4,0,2
393,4.0,5,6,8,1,7

# PCA

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from math import sqrt

GROUP 2

In [32]:
group_2

,unique_id,userIDs,implementation,Line_ID,ChatGroup,content,group_id,RoleName,roomName,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore,wordCount
5,2aPRNLT,2,a,6,PRNLT,Hello I am Brandon!,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,4
6,3aPRNLT,3,a,7,PRNLT,I am Zelin,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,3
7,3aPRNLT,3,a,8,PRNLT,Hi,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,1
8,4aPRNLT,4,a,9,PRNLT,i am jack,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,4,3
9,5aPRNLT,5,a,10,PRNLT,Hey! I'm Rachel!,2,Player,Introduction and Workflow Tutorial with Entran...,0,0,0,0,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17942,368oPRNLT,368,o,17946,PRNLT,Actually we have 8 minutes left in calss,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,2,8
17943,368oPRNLT,368,o,17947,PRNLT,class,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,2,1
17944,371oPRNLT,371,o,17948,PRNLT,yes but good luck on the next step,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,2,8
17945,368oPRNLT,368,o,17949,PRNLT,Yes you guys too,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,2,4
17946,372oPRNLT,372,o,17950,PRNLT,You too!,2,Player,Reflection team discussion of first batch results,0,0,0,0,0,0,2,2

In [45]:
# Splitting the data into features (X) and target variable (y)
X = group_2.drop(columns=['OutcomeScore', 'unique_id', 'userIDs', 'implementation', 'ChatGroup','content' ,'group_id', 'RoleName', 'roomName' ])  # Features
y = group_2['OutcomeScore']  # Target variable

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize PCA with the desired number of components
pca = PCA(n_components=2)  # You can change the number of components as needed

# Fit PCA on the training data and transform X_train
X_train_pca = pca.fit_transform(X_train)

# Transform X_test using the PCA model fitted on the training data
X_test_pca = pca.transform(X_test)

# Now, you can use X_train_pca and X_test_pca for training and testing your regression model
# Initialize and train a linear regression model on the PCA-transformed data
model_pca = LogisticRegression()
model_pca.fit(X_train_pca, y_train)

# Make predictions on the test set
y_pred_pca = model_pca.predict(X_test_pca)

# Evaluate the model
mae_pca = mean_absolute_error(y_test, y_pred_pca)
mse_pca = mean_squared_error(y_test, y_pred_pca)
rmse_pca = sqrt(mean_squared_error(y_test, y_pred_pca))


# Create a dataframe to store the evaluation metrics and statistics
g2_accuracy = pd.DataFrame({
    "RMSE": [rmse_pca],
    "MAE": [mae_pca],
    "MSE": [mse_pca]
})
g2_accuracy

C:\Users\jhkan\AppData\Local\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

       RMSE       MAE       MSE
0  1.558701  1.099863  2.429549

GROUP 3

In [46]:
# Splitting the data into features (X) and target variable (y)
X = group_3.drop(columns=['OutcomeScore', 'unique_id', 'userIDs', 'implementation', 'ChatGroup','content' ,'group_id', 'RoleName', 'roomName' ])  # Features
y = group_3['OutcomeScore']  # Target variable

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize PCA with the desired number of components
pca = PCA(n_components=2)  # You can change the number of components as needed

# Fit PCA on the training data and transform X_train
X_train_pca = pca.fit_transform(X_train)

# Transform X_test using the PCA model fitted on the training data
X_test_pca = pca.transform(X_test)

# Now, you can use X_train_pca and X_test_pca for training and testing your regression model
# Initialize and train a linear regression model on the PCA-transformed data
model_pca = LogisticRegression()
model_pca.fit(X_train_pca, y_train)

# Make predictions on the test set
y_pred_pca = model_pca.predict(X_test_pca)

# Evaluate the model
mae_pca = mean_absolute_error(y_test, y_pred_pca)
mse_pca = mean_squared_error(y_test, y_pred_pca)
rmse_pca = sqrt(mean_squared_error(y_test, y_pred_pca))


# Create a dataframe to store the evaluation metrics and statistics
g3_accuracy = pd.DataFrame({
    "RMSE": [rmse_pca],
    "MAE": [mae_pca],
    "MSE": [mse_pca],
})
g3_accuracy

C:\Users\jhkan\AppData\Local\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

       RMSE      MAE       MSE
0  2.005148  1.33137  4.020619

GROUP 4

In [47]:
# Splitting the data into features (X) and target variable (y)
X = group_4.drop(columns=['OutcomeScore', 'unique_id', 'userIDs', 'implementation', 'ChatGroup','content' ,'group_id', 'RoleName', 'roomName' ])  # Features
y = group_4['OutcomeScore']  # Target variable

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize PCA with the desired number of components
pca = PCA(n_components=2)  # You can change the number of components as needed

# Fit PCA on the training data and transform X_train
X_train_pca = pca.fit_transform(X_train)

# Transform X_test using the PCA model fitted on the training data
X_test_pca = pca.transform(X_test)

# Now, you can use X_train_pca and X_test_pca for training and testing your regression model
# Initialize and train a linear regression model on the PCA-transformed data
model_pca = LogisticRegression()
model_pca.fit(X_train_pca, y_train)

# Make predictions on the test set
y_pred_pca = model_pca.predict(X_test_pca)

# Evaluate the model
mae_pca = mean_absolute_error(y_test, y_pred_pca)
mse_pca = mean_squared_error(y_test, y_pred_pca)
rmse_pca = sqrt(mean_squared_error(y_test, y_pred_pca))


# Create a dataframe to store the evaluation metrics and statistics
g4_accuracy = pd.DataFrame({
    "RMSE": [rmse_pca],
    "MAE": [mae_pca],
    "MSE": [mse_pca],
})
g4_accuracy

C:\Users\jhkan\AppData\Local\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

       RMSE      MAE       MSE
0  1.655562  1.14974  2.740885

GROUP 5

In [48]:
# Splitting the data into features (X) and target variable (y)
X = group_5.drop(columns=['OutcomeScore', 'unique_id', 'userIDs', 'implementation', 'ChatGroup','content' ,'group_id', 'RoleName', 'roomName' ])  # Features
y = group_5['OutcomeScore']  # Target variable

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize PCA with the desired number of components
pca = PCA(n_components=2)  # You can change the number of components as needed

# Fit PCA on the training data and transform X_train
X_train_pca = pca.fit_transform(X_train)

# Transform X_test using the PCA model fitted on the training data
X_test_pca = pca.transform(X_test)

# Now, you can use X_train_pca and X_test_pca for training and testing your regression model
# Initialize and train a linear regression model on the PCA-transformed data
model_pca = LogisticRegression()
model_pca.fit(X_train_pca, y_train)

# Make predictions on the test set
y_pred_pca = model_pca.predict(X_test_pca)

# Evaluate the model
mae_pca = mean_absolute_error(y_test, y_pred_pca)
mse_pca = mean_squared_error(y_test, y_pred_pca)
rmse_pca = sqrt(mean_squared_error(y_test, y_pred_pca))


# Create a dataframe to store the evaluation metrics and statistics
g5_accuracy = pd.DataFrame({
    "RMSE": [rmse_pca],
    "MAE": [mae_pca],
    "MSE": [mse_pca],
})
g5_accuracy

C:\Users\jhkan\AppData\Local\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

       RMSE       MAE       MSE
0  1.449889  1.036851  2.102178

GROUP 6

In [38]:
# Splitting the data into features (X) and target variable (y)
X = group_6.drop(columns=['OutcomeScore'])  # Features
y = group_6['OutcomeScore']  # Target variable

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize PCA with the desired number of components
pca = PCA(n_components=2)  # You can change the number of components as needed

# Fit PCA on the training data and transform X_train
X_train_pca = pca.fit_transform(X_train)

# Transform X_test using the PCA model fitted on the training data
X_test_pca = pca.transform(X_test)

# Now, you can use X_train_pca and X_test_pca for training and testing your regression model
# Initialize and train a linear regression model on the PCA-transformed data
model_pca = LinearRegression()
model_pca.fit(X_train_pca, y_train)

# Make predictions on the test set
y_pred_pca = model_pca.predict(X_test_pca)

# Evaluate the model
mae_pca = mean_absolute_error(y_test, y_pred_pca)
mse_pca = mean_squared_error(y_test, y_pred_pca)
rmse_pca = sqrt(mean_squared_error(y_test, y_pred_pca))


# Create a dataframe to store the evaluation metrics and statistics
g6_accuracy = pd.DataFrame({
    "RMSE": [rmse_pca],
    "MAE": [mae_pca],
    "MSE": [mse_pca],
})
g6_accuracy

       RMSE       MAE       MSE
0  1.414707  1.061592  2.001397

In [44]:
average_pred = np.mean(y_pred_pca)
average_act = np.mean(y)
print("predicted", average)
print("actual", average_act)

predicted 3.598012187044301
actual 3.6368733509234827

In [49]:
# Concatenate along rows
combined_accuracy = pd.concat([g2_accuracy, g3_accuracy, g4_accuracy, g5_accuracy, g6_accuracy])
print("Group Accuracy on Testing Set")
combined_accuracy.reset_index(drop=True)

Group Accuracy on Testing Set

       RMSE       MAE       MSE
0  1.558701  1.099863  2.429549
1  2.005148  1.331370  4.020619
2  1.655562  1.149740  2.740885
3  1.449889  1.036851  2.102178
4  1.414707  1.061592  2.001397